@import './variables.css';
@import './reset.css';

body {
  font-family: var(--font-family-base);
  background-color: var(--background-color);
  color: var(--text-primary);
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
